<div class="loading-overlay" style="@(IsLoading ? "display: flex;" : "display: none;")">
    @if (ValueMode)
    {
        <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" ProgressBarStyle="ProgressBarStyle.Secondary" Size="@Size" ShowValue="true" Value="@Value"  />
    }
    else
    {
        <RadzenProgressBarCircular Mode="ProgressBarMode.Indeterminate" ProgressBarStyle="ProgressBarStyle.Secondary" Size="@Size" ShowValue="false" />
    }
</div>

@code {
    [Parameter] 
    public bool IsLoading { get; set; } = true;
    [Parameter]
    public double Value { get; set; }
    [Parameter] 
    public bool ValueMode { get; set; } = false;
    [Parameter] 
    public ProgressBarCircularSize Size { get; set; } = ProgressBarCircularSize.Large;
}

<style>
    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        pointer-events: none;
    }

    .rz-progressbar-circular-label{
        color: #cd3d64;
        font-weight: bold;
    }
</style>