@page "/receipt"
@using DivvyUp_App.Components.Receipt
@using Microsoft.FluentUI.AspNetCore.Components

<h1>Paragony</h1>

<ReceiptAdd RefreshGrid="@RefreshReceiptGrid"></ReceiptAdd>
<ReceiptGrid @ref="ReceiptGrid"></ReceiptGrid>
<FluentButton OnClick="@Logout">Wyloguj się</FluentButton>