@page "/receipt"
@using DivvyUp_App.Components.ReceiptComponents
@using Radzen
@using Radzen.Blazor

<h1>Paragony</h1>

<ReceiptGrid @ref="ReceiptGrid"></ReceiptGrid>
<RadzenButton Click="@Logout" ButtonStyle="ButtonStyle.Danger" Text="Wyloguj się" />