@using DivvyUp_Shared.Dtos.Entity
@using DivvyUp_Shared.Interfaces

<RadzenStack Style="margin-left: 6%; margin-top: 4%;">
    <h1 class="tile-title">Witaj, <b>@PersonUser.Name</b></h1>
    <h3>Liczba rachunków: <b>@PersonUser.ReceiptsCount.ToString()</b></h3>
    <h3>Liczba produktów: <b>@PersonUser.ProductsCount.ToString()</b></h3>
    @* <h3>Ostatni rachunek utworzono: <b>00.00.0000</b></h3> *@
</RadzenStack>

@code {
    [Inject] 
    private IPersonService PersonService { get; set; } = null!;

    [Parameter]
    public EventCallback OnLoadComplete { get; set; }

    private PersonDto PersonUser { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        PersonUser = await PersonService.GetUserPerson();
        await OnLoadComplete.InvokeAsync();
    }
}
