@inherits LayoutComponentBase
@using BlazorBootstrap;
﻿@using Microsoft.FluentUI.AspNetCore.Components

<div class="bb-page">
    <main>
            @Body
    </main>
</div>

<style>
    .navbar-toggler.px-2 {
        display: none;
    }
</style>