@using DivvyUp_App.GuiService
@using DivvyUp_Shared.Interface
@inject DialogService DialogService

<div class="card-dialog">
    <div class="content-dialog">
        <div class="section">
            <b class="name-section">Aktualne hasło</b>
            <RadzenPassword class="section-input" @bind-Value="@Password" />
        </div>
        <div class="section">
            <b class="name-section">Nowe hasło</b>
            <RadzenPassword class="section-input" @bind-Value="@NewPassword" />
        </div>
    </div>
    <footer class="footer">
        <RadzenButton Text="Zmień hasło" Style="margin-right: 8px;" ButtonStyle="ButtonStyle.Success" Click="@(async () => { await ResetPassword(); } )" />
        <RadzenButton Text="Anuluj" ButtonStyle="ButtonStyle.Danger" Click="@(() => DialogService.Close())" />
    </footer>
</div>

@code {
    [Inject]
    private IAuthService AuthService { get; set; }
    [Inject]
    private DAlertService AlertService { get; set; }
    private string Password { get; set; } = string.Empty;
    private string NewPassword { get; set; } = string.Empty;

    private async Task ResetPassword()
    {
        try
        {
            await AuthService.ChangePassword(Password, NewPassword);
            AlertService.ShowAlert("Pomyślnie zmieniono hasło", AlertStyle.Success);
            DialogService.Close(true);
        }
        catch (Exception)
        {
            AlertService.ShowAlert("Nie udało się zmienić hasła", AlertStyle.Danger);
        }
    }
}

<style>
    .card-dialog {
        display: flex;
        flex-direction: column;
        min-height: 120px;
        width: 596px;
        position: relative;
    }

    .content-dialog {
        justify-content: center;
        flex-grow: 1;
        padding: 16px;
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
        background-color: #f0f0f0;
        width: 100%;
    }

    .rz-dialog-content {
        padding: 2px;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .name-section {
        width: 25%;
        font-weight: bold;
    }

    .section-input {
        width: 75%;
    }
</style>