@using BlazorBootstrap
@using Radzen.Blazor
@using JustifyContent = Radzen.JustifyContent
@using Orientation = Radzen.Orientation

<div class="container">
    <div class="section">
        <span class="label">Nazwa</span>
        <RadzenFormField Text="Nazwa">
            <RadzenTextBox @bind-Value="@NameReceipt" />
        </RadzenFormField>
    </div>
    <div class="section">
        <span class="label">Data</span>
        <RadzenDatePicker @bind-Value="@DateReceipt" Name="Data" ShowCalendarWeek DateFormat="dd.MM.yyyy" />
    </div>
    <div class="section button-section">
        <RadzenButton class="inputs" Click="@AddReceipt" Text="Dodaj"/>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        gap: 20px;
        width: 100%;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-control {
        width: 200px;
        height: 35px;
    }

    .delivery-checkbox {
        width: 34px;
        height: 34px;
        margin-left: 5px;
    }

    .button-section {
        align-self: center;
        margin-top: 20px;
    }

    .inputs {
        width: 200px;
        height: 35px;
    }
</style>