<div style="height: 100%; display: flex; justify-content: center; align-items: center; background-color: #f0f0f5;">
    <div style="width: 100%; max-width: 400px; padding: 20px; background-color: #ffffff; border-radius: 12px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; font-size: 2.5rem; color: #686868; margin-bottom: 30px; font-weight: bold;">Zaloguj się</h2>
        <RadzenFormField class="input" Text="Nazwa użytkownika">
            <RadzenTextBox @bind-Value="@LoginData.Username" Style="border-radius: 8px; padding: 12px; width: 100%; box-sizing: border-box;" />
        </RadzenFormField>
        <RadzenFormField class="input" Text="Hasło">
            <RadzenPassword @bind-Value="@LoginData.Password" Style="border-radius: 8px; padding: 12px; width: 100%; box-sizing: border-box;" />
        </RadzenFormField>
        <RadzenButton Style="width: 100%; background-color: #6a11cb; color: white; border-radius: 8px; margin-top: 20px;" Text="Zaloguj się" Click="@SignUp" />
        <RadzenButton Style="width: 100%; background-color: #2575fc; color: white; border-radius: 8px; margin-top: 20px;" Text="Zarejestruj się" Click="@(() => Navigation.NavigateTo("/register"))" />
    </div>
</div>

<style>
    .input {
        width: 100%;
        margin-bottom: 20px;
    }

    .input input, .input .rz-input, .input .rz-password {
        border-radius: 8px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1rem;
        transition: border 0.3s ease;
    }

    .input input:focus, .input .rz-input:focus, .input .rz-password:focus {
        border-color: #6a11cb;
        box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
    }

    .rz-button {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 14px 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .rz-button:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>