@using DivvyUp_App.Services.Gui
@using DivvyUp_Shared.Dtos.Request
@using DivvyUp_Shared.Interfaces
@inject DialogService DialogService

<div class="content-dialog">
    <div class="section">
        <b class="name-section">Aktualne hasło</b>
        <RadzenPassword class="section-input" @bind-Value="@ChangePasswordRequest.Password" />
    </div>
    <div class="section">
        <b class="name-section">Nowe hasło</b>
        <RadzenPassword class="section-input" @bind-Value="@ChangePasswordRequest.NewPassword" />
    </div>
</div>
<footer class="footer">
    <RadzenButton Text="Zmień hasło" Style="margin-right: 8px;" ButtonStyle="ButtonStyle.Success" Click="@(async () => { await ResetPassword(); } )" />
    <RadzenButton Text="Anuluj" ButtonStyle="ButtonStyle.Danger" Click="@(() => DialogService.Close())" />
</footer>

@code {
    [Inject]
    private IUserService UserService { get; set; }
    [Inject]
    private DNotificationService DNotificationService { get; set; }

    private ChangePasswordUserDto ChangePasswordRequest = new();

    private async Task ResetPassword()
    {
        try
        {
            await UserService.ChangePassword(ChangePasswordRequest);
            DNotificationService.ShowNotification("Pomyślnie zmieniono hasło", NotificationSeverity.Success);
            DialogService.Close(true);
        }
        catch (Exception)
        {
            DNotificationService.ShowNotification("Nie udało się zmienić hasła", NotificationSeverity.Error);
        }
    }
}

<style>
    .rz-dialog-content {
        display: flex;
        flex-direction: column;
        min-height: 120px;
        width: 596px;
    }

    .content-dialog {
        justify-content: center;
        flex-grow: 1;
        padding: 16px;
        width: 100%;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 10px;
        background-color: #f0f0f0;
        width: 100%;
    }

    .rz-dialog-content {
        padding: 2px;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .name-section {
        width: 25%;
        font-weight: bold;
    }

    .section-input {
        width: 75%;
    }
</style>