@page "/"
@using Microsoft.FluentUI.AspNetCore.Components
@using BlazorBootstrap;

<div style="height: 100%; display:flex; justify-content: center; align-items: center;">
    <div class="inputs">
        <FluentTextField Class="inputs" @bind-Value="@Username" Label="Username"></FluentTextField>
        <FluentTextField Class="inputs" @bind-Value="@Password" Label="Password" TextFieldType="TextFieldType.Password"></FluentTextField>
        <FluentButton Class="inputs" Style="margin-top: 20px;" OnClick="@SignUp">Zaloguj się</FluentButton>
    </div>
</div>

<style>
    .inputs{
        width: 300px
    }
</style>